In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv('tmdb-movies.csv')

In [3]:
movies_df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [4]:
movies_df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [5]:
movies_df = movies_df[[ 'original_title', 'budget', 'revenue', 'cast',
        'genres', 'release_year', 'runtime']]

In [6]:
movies_df

,original_title,budget,revenue,cast,genres,release_year,runtime
0,Jurassic World,150000000,1513528810,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,2015,124
1,Mad Max: Fury Road,150000000,378436354,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,2015,120
2,Insurgent,110000000,295238201,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,2015,119
3,Star Wars: The Force Awakens,200000000,2068178225,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2015,136
4,Furious 7,190000000,1506249360,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,2015,137
...,...,...,...,...,...,...,...
10861,The Endless Summer,0,0,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Documentary,1966,95
10862,Grand Prix,0,0,James Garner|Eva Marie Saint|Yves Montand|Tosh...,Action|Adventure|Drama,1966,176
10863,Beregis Avtomobilya,0,0,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Mystery|Comedy,1966,94
10864,"What's Up, Tiger Lily?",0,0,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Action|Comedy,1966,80
10865,Manos: The Hands of Fate,19000,0,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Horror,1966,74

In [7]:
movies_df = movies_df.dropna()

In [8]:
movies_df = movies_df.drop_duplicates()

In [9]:
movies_df

,original_title,budget,revenue,cast,genres,release_year,runtime
0,Jurassic World,150000000,1513528810,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,2015,124
1,Mad Max: Fury Road,150000000,378436354,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,2015,120
2,Insurgent,110000000,295238201,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,2015,119
3,Star Wars: The Force Awakens,200000000,2068178225,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2015,136
4,Furious 7,190000000,1506249360,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,2015,137
...,...,...,...,...,...,...,...
10861,The Endless Summer,0,0,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Documentary,1966,95
10862,Grand Prix,0,0,James Garner|Eva Marie Saint|Yves Montand|Tosh...,Action|Adventure|Drama,1966,176
10863,Beregis Avtomobilya,0,0,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Mystery|Comedy,1966,94
10864,"What's Up, Tiger Lily?",0,0,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Action|Comedy,1966,80
10865,Manos: The Hands of Fate,19000,0,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Horror,1966,74

In [10]:
movies_df = movies_df[(movies_df['budget'] != 0) & (movies_df['revenue'] != 0)
                     & (movies_df['runtime'] != 0)]

In [11]:
movies_df

,original_title,budget,revenue,cast,genres,release_year,runtime
0,Jurassic World,150000000,1513528810,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,2015,124
1,Mad Max: Fury Road,150000000,378436354,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,2015,120
2,Insurgent,110000000,295238201,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,2015,119
3,Star Wars: The Force Awakens,200000000,2068178225,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2015,136
4,Furious 7,190000000,1506249360,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,2015,137
...,...,...,...,...,...,...,...
10822,Who's Afraid of Virginia Woolf?,7500000,33736689,Elizabeth Taylor|Richard Burton|George Segal|S...,Drama,1966,131
10828,Torn Curtain,3000000,13000000,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃ¶...,Mystery|Thriller,1966,128
10829,El Dorado,4653000,6000000,John Wayne|Robert Mitchum|James Caan|Charlene ...,Action|Western,1966,120
10835,The Sand Pebbles,12000000,20000000,Steve McQueen|Richard Attenborough|Richard Cre...,Action|Adventure|Drama|War|Romance,1966,182
10848,Fantastic Voyage,5115000,12000000,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,Adventure|Science Fiction,1966,100

In [12]:
movies_df_2 = movies_df.sort_values('budget', ascending = False)

In [13]:
movies_df_2

,original_title,budget,revenue,cast,genres,release_year,runtime
2244,The Warrior's Way,425000000,11087569,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Adventure|Fantasy|Action|Western|Thriller,2010,100
3375,Pirates of the Caribbean: On Stranger Tides,380000000,1021683000,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Adventure|Action|Fantasy,2011,136
7387,Pirates of the Caribbean: At World's End,300000000,961000000,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Adventure|Fantasy|Action,2007,169
14,Avengers: Age of Ultron,280000000,1405035767,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Action|Adventure|Science Fiction,2015,141
6570,Superman Returns,270000000,391081192,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,Adventure|Fantasy|Action|Science Fiction,2006,154
...,...,...,...,...,...,...,...
2398,Boy,3,43,James Rolleston|Craig Hall|Taika Waititi|Te Ah...,Drama|Comedy,2010,87
10050,Tales from the Darkside: The Movie,3,16,Rae Dawn Chong|Christian Slater|Deborah Harry|...,Fantasy|Horror|Comedy,1990,93
8944,Death Wish 2,2,16,Charles Bronson|Jill Ireland|Vincent Gardenia|...,Action|Crime|Thriller,1982,88
2618,Lost & Found,1,100,David Spade|Sophie Marceau|Ever Carradine|Step...,Comedy|Romance,1999,95
3581,"Love, Wedding, Marriage",1,1378,Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...,Comedy|Romance,2011,90

In [14]:
movies_df_2.iloc[2,:]

original_title             Pirates of the Caribbean: At World's End
budget                                                    300000000
revenue                                                   961000000
cast              Johnny Depp|Orlando Bloom|Keira Knightley|Geof...
genres                                     Adventure|Fantasy|Action
release_year                                                   2007
runtime                                                         169
Name: 7387, dtype: object

In [15]:
movies_df_2.iloc[-3,:]

original_title                                         Death Wish 2
budget                                                            2
revenue                                                          16
cast              Charles Bronson|Jill Ireland|Vincent Gardenia|...
genres                                        Action|Crime|Thriller
release_year                                                   1982
runtime                                                          88
Name: 8944, dtype: object

In [16]:
df_title = movies_df[(movies_df['release_year'] >= 2000) & 
                     (movies_df['release_year'] <= 2005)]

In [17]:
df_title

,original_title,budget,revenue,cast,genres,release_year,runtime
2633,The Lord of the Rings: The Fellowship of the Ring,93000000,871368364,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Adventure|Fantasy|Action,2001,178
2634,Harry Potter and the Philosopher's Stone,125000000,976475550,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Adventure|Fantasy|Family,2001,152
2635,Mulholland Drive,15000000,20117339,Naomi Watts|Laura Harring|Ann Miller|Dan Heday...,Thriller|Drama|Mystery,2001,147
2636,Donnie Darko,6000000,1270522,Jake Gyllenhaal|Patrick Swayze|Drew Barrymore|...,Fantasy|Drama|Mystery,2001,113
2637,"Monsters, Inc.",115000000,562816256,John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,Fantasy|Animation|Family|Comedy,2001,92
...,...,...,...,...,...,...,...
8862,Shadow of the Vampire,8000000,8279017,John Malkovich|Willem Dafoe|Udo Kier|Cary Elwe...,Drama|Horror,2000,92
8866,The Adventures of Rocky & Bullwinkle,76000000,35134820,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Adventure|Animation|Action|Comedy|Family,2000,88
8868,The Big Kahuna,7000000,3728888,Kevin Spacey|Danny DeVito|Peter Facinelli|Paul...,Comedy|Drama,2000,90
8881,Hanging Up,40000000,36037909,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Comedy|Drama,2000,94
8883,The In Crowd,15000000,5217498,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Thriller,2000,105

In [18]:
number_of_words = {}
for i in range(df_title.shape[0]):
    word = str(df_title['original_title'].values[i]).split(' ')
    for j in word:
        try:
            count = number_of_words[j]
            number_of_words[j] = count + 1
        except:
            number_of_words[j] = 1
            
number_of_words

{'The': 160,
 'Lord': 4,
 'of': 78,
 'the': 70,
 'Rings:': 3,
 'Fellowship': 1,
 'Ring': 2,
 'Harry': 5,
 'Potter': 4,
 'and': 22,
 "Philosopher's": 1,
 'Stone': 1,
 'Mulholland': 1,
 'Drive': 1,
 'Donnie': 1,
 'Darko': 1,
 'Monsters,': 1,
 'Inc.': 1,
 'A.I.': 1,
 'Artificial': 1,
 'Intelligence': 1,
 'Shrek': 2,
 'Bridget': 2,
 "Jones's": 1,
 'Diary': 1,
 "Ocean's": 2,
 'Eleven': 1,
 'Pearl': 2,
 'Harbor': 1,
 'Mummy': 1,
 'Returns': 1,
 'Atlantis:': 1,
 'Lost': 4,
 'Empire': 1,
 'Lara': 2,
 'Croft:': 1,
 'Tomb': 2,
 'Raider': 1,
 'A': 16,
 'Beautiful': 1,
 'Mind': 3,
 'American': 6,
 'Pie': 1,
 '2': 17,
 'Princess': 3,
 'Diaries': 2,
 'Moulin': 1,
 'Rouge!': 1,
 'Planet': 3,
 'Apes': 1,
 'Royal': 2,
 'Tenenbaums': 1,
 'Blow': 1,
 'Enemy': 2,
 'at': 2,
 'Gates': 1,
 'Black': 5,
 'Hawk': 1,
 'Down': 6,
 'Legally': 2,
 'Blonde': 3,
 "Knight's": 1,
 'Tale': 2,
 'Zoolander': 1,
 'Not': 1,
 'Another': 2,
 'Teen': 1,
 'Movie': 8,
 'Scary': 3,
 'Rush': 1,
 'Hour': 3,
 'Training': 1,
 'Day': 5,
 'Others': 1,
 'Jimmy': 1,
 'Neutron:': 1,
 'Boy': 3,
 'Genius': 1,
 'Jay': 1,
 'Silent': 1,
 'Bob': 1,
 'Strike': 1,
 'Back': 3,
 'Serendipity': 1,
 'Cats': 1,
 '&': 17,
 'Dogs': 2,
 'Vanilla': 1,
 'Sky': 3,
 'Kiss': 3,
 'Dragon': 2,
 'Spy': 5,
 'Game': 3,
 'Swordfish': 1,
 'Shallow': 1,
 'Hal': 1,
 'AntiTrust': 1,
 'Final': 4,
 'Fantasy:': 1,
 'Spirits': 1,
 'Within': 1,
 'Original': 1,
 'Sin': 2,
 'Dr.': 1,
 'Dolittle': 1,
 'Behind': 1,
 'Lines': 1,
 'Jeepers': 2,
 'Creepers': 2,
 'From': 2,
 'Hell': 1,
 'Last': 3,
 'Castle': 2,
 'Along': 2,
 'Came': 2,
 'a': 11,
 'Spider': 1,
 'Super': 2,
 'Troopers': 1,
 'Wedding': 5,
 'Planner': 1,
 'Rat': 1,
 'Race': 1,
 'Gosford': 1,
 'Park': 4,
 'Jason': 2,
 'X': 1,
 'Mexican': 1,
 'Joy': 1,
 'Ride': 1,
 'I': 2,
 'Am': 1,
 'Sam': 1,
 'Rock': 3,
 'Star': 4,
 'K-PAX': 1,
 "Don't": 2,
 'Say': 1,
 'Word': 1,
 'Crocodile': 1,
 'Dundee': 1,
 'in': 17,
 'Los': 2,
 'Angeles': 1,
 'Frailty': 1,
 'Angel': 1,
 'Eyes': 1,
 'Hearts': 2,
 'Atlantis': 1,
 'Glass': 2,
 'House': 7,
 '15': 1,
 'Minutes': 1,
 'Hardball': 1,
 'Evolution': 1,
 'Ali': 1,
 'Session': 1,
 '9': 2,
 'Score': 1,
 "Monster's": 1,
 'Ball': 1,
 'Joe': 1,
 'Dirt': 1,
 'Exit': 1,
 'Wounds': 1,
 'Tailor': 1,
 'Panama': 1,
 'Sweet': 2,
 'November': 1,
 'How': 3,
 'High': 4,
 'Tomcats': 1,
 'Majestic': 1,
 '3000': 2,
 'Miles': 1,
 'to': 14,
 'Graceland': 1,
 'Tape': 1,
 'Dil': 1,
 'Chahta': 1,
 'Hai': 1,
 'Ghosts': 2,
 'Mars': 2,
 'Saving': 2,
 'Silverman': 1,
 'Riding': 2,
 'Cars': 1,
 'with': 6,
 'Boys': 3,
 'Osmosis': 1,
 'Jones': 1,
 'Head': 1,
 'Over': 2,
 'Heels': 1,
 'Fast': 2,
 'Furious': 2,
 'Human': 1,
 'Nature': 1,
 'Save': 1,
 'Dance': 1,
 'Kids': 3,
 'Pledge': 1,
 'Bandits': 1,
 'Animal': 1,
 'Knockaround': 1,
 'Guys': 1,
 'Crazy/Beautiful': 1,
 'Driven': 1,
 'Out': 3,
 'Cold': 2,
 'Outlaws': 1,
 'Hannibal': 1,
 'Domestic': 1,
 'Disturbance': 1,
 'Recess:': 1,
 "School's": 1,
 'Summer': 2,
 'Catch': 3,
 'Wet': 1,
 'Hot': 1,
 'Believer': 1,
 'Max': 1,
 "Keeble's": 1,
 'Big': 8,
 'Move': 1,
 'Monkeybone': 1,
 'Lovely': 1,
 'Amazing': 1,
 'Corky': 1,
 'Romano': 1,
 'Jurassic': 1,
 'III': 2,
 'Captain': 2,
 "Corelli's": 1,
 'Mandolin': 1,
 'Kissing': 1,
 'Jessica': 1,
 'Stein': 1,
 'Musketeer': 1,
 "Cat's": 1,
 'Meow': 1,
 'L.I.E.': 1,
 'Long': 1,
 'Island': 3,
 'Expressway': 1,
 'Novocaine': 1,
 'Sugar': 2,
 'Spice': 1,
 'Bones': 1,
 'Wash': 1,
 'Made': 1,
 'Baby': 2,
 'Two': 3,
 'Towers': 1,
 'Chamber': 1,
 'Secrets': 1,
 'Ice': 2,
 'Age': 1,
 'Bourne': 2,
 'Identity': 2,
 'Resident': 2,
 'Evil': 1,
 'Spider-Man': 2,
 'Wars:': 2,
 'Episode': 2,
 'II': 6,
 '-': 2,
 'Attack': 1,
 'Clones': 1,
 'Me': 4,
 'If': 1,
 'You': 3,
 'Can': 1,
 'Men': 2,
 'Pianist': 1,
 'Minority': 1,
 'Report': 1,
 'Lilo': 1,
 'Stitch': 1,
 'Transporter': 2,
 'xXx': 1,
 'Treasure': 2,
 'Die': 4,
 '28': 1,
 'Days': 5,
 'Later...': 1,
 'Maid': 1,
 'Manhattan': 1,
 'Blade': 1,
 'Gangs': 1,
 'New': 3,
 'York': 1,
 'Panic': 1,
 'Room': 2,
 'Stuart': 1,
 'Little': 4,
 'National': 2,
 'Lampoonâ€™s': 1,
 'Van': 2,
 'Wilder': 1,
 '8': 1,
 'Mile': 2,
 'Mr.': 3,
 'Deeds': 1,
 'Bend': 1,
 'It': 5,
 'Like': 4,
 'Beckham': 1,
 'Weeks': 1,
 'Notice': 1,
 'Signs': 1,
 'Walk': 2,
 'Remember': 2,
 'My': 2,
 'Fat': 2,
 'Greek': 1,
 'About': 3,
 'Collateral': 2,
 'Damage': 1,
 'Phone': 1,
 'Booth': 1,
 'Trek:': 1,
 'Nemesis': 1,
 'Equilibrium': 1,
 'Good': 3,
 'Girl': 3,
 'Hours': 1,
 'Road': 3,
 'Perdition': 1,
 'Austin': 1,
 'Powers': 1,
 'Goldmember': 1,
 'Santa': 2,
 'Clause': 1,
 'Insomnia': 1,
 'Ghost': 1,
 'Ship': 1,
 'Scooby-Doo': 1,
 'Spirit:': 1,
 'Stallion': 1,
 'Cimarron': 1,
 'D-Tox': 1,
 'Scorpion': 1,
 'King': 4,
 'Bowling': 1,
 'for': 6,
 'Columbine': 1,
 '25th': 1,
 'Ken': 1,
 'Sum': 1,
 'All': 4,
 'Fears': 1,
 'We': 4,
 'Were': 1,
 'Soldiers': 1,
 'Jackass:': 1,
 'Frida': 1,
 'Murder': 1,
 'by': 3,
 'Numbers': 1,
 'Adaptation.': 1,
 'Home': 3,
 'Alabama': 1,
 'Barbershop': 2,
 'Dark': 4,
 'Blue': 3,
 'Time': 3,
 'Machine': 1,
 'Undisputed': 1,
 'Sweetest': 1,
 'Thing': 3,
 'Windtalkers': 1,
 'John': 1,
 'Q': 1,
 'Unfaithful': 1,
 'Changing': 1,
 'Lanes': 1,
 'Punch-Drunk': 1,
 'Love': 6,
 'K-19:': 1,
 'Widowmaker': 1,
 'Queen': 2,
 'Damned': 1,
 '2:': 5,
 'Dreams': 1,
 'Enough': 1,
 'Friday': 4,
 'After': 3,
 'Next': 4,
 'Return': 3,
 'Never': 2,
 'Land': 2,
 'Life': 5,
 'or': 2,
 'Something': 1,
 'Slackers': 1,
 'Chicago': 1,
 'One': 1,
 'Photo': 1,
 'Femme': 1,
 'Fatale': 1,
 'City': 3,
 'By': 1,
 'Sea': 2,
 'Reign': 1,
 'Fire': 3,
 'Showtime': 1,
 'Crimes': 1,
 'Moonlight': 1,
 "Hart's": 1,
 'War': 4,
 'Schmidt': 1,
 'Crush': 1,
 'Blood': 2,
 'Work': 1,
 'Solaris': 1,
 'Four': 3,
 'Feathers': 1,
 'Quiet': 2,
 'Mothman': 1,
 'Prophecies': 1,
 'Far': 2,
 'from': 1,
 'Heaven': 3,
 'Rookie': 1,
 'Bad': 4,
 'Company': 2,
 'Confessions': 2,
 'Dangerous': 1,
 'Ballistic:': 1,
 'Ecks': 1,
 'vs.': 3,
 'Sever': 1,
 'Trapped': 1,
 'Clockstoppers': 1,
 'Halloween:': 1,
 'Resurrection': 1,
 'Salton': 1,
 'Liar': 1,
 'Narc': 1,
 'Brown': 1,
 'Antwone': 1,
 'Fisher': 1,
 'Igby': 1,
 'Goes': 1,
 'Swept': 1,
 'Away': 2,
 'Boat': 1,
 'Trip': 2,
 'May': 1,
 'Crossroads': 1,
 'Adventures': 3,
 'Pluto': 1,
 'Nash': 1,
 'Abandon': 1,
 'Red': 3,
 'Serving': 1,
 'Sara': 1,
 'Dragonfly': 1,
 'Drumline': 1,
 'Benjamins': 1,
 'FearDotCom': 1,
 'Auto': 1,
 'Focus': 1,
 'Powerpuff': 1,
 'Girls': 5,
 'Possession': 1,
 'Full': 2,
 'Frontal': 1,
 'Trouble': 1,
 'Undercover': 1,
 'Brother': 2,
 'lunes': 1,
 'al': 1,
 'sol': 1,
 'Kid': 3,
 'Stays': 1,
 'Picture': 1,
 'Underworld': 1,
 'Pirates': 1,
 'Caribbean:': 1,
 'Curse': 2,
 'Kill': 2,
 'Bill:': 2,
 'Vol.': 2,
 '1': 1,
 'Matrix': 2,
 'Revolutions': 1,
 'Reloaded': 1,
 'Finding': 3,
 'Nemo': 1,
 'Bruce': 1,
 'Almighty': 1,
 'Actually': 1,
 'Elf': 1,
 'Terminator': 1,
 '3:': 1,
 'Rise': 1,
 'Machines': 1,
 'Dreamers': 1,
 'Fish': 1,
 'Daredevil': 1,
 'League': 1,
 'Extraordinary': 1,
 'Gentlemen': 1,
 'Italian': 1,
 'Job': 1,
 'Jungle': 1,
 'Book': 2,
 'Translation': 1,
 'Johnny': 1,
 'English': 1,
 'Bear': 1,
 'Peter': 1,
 'Pan': 1,
 '3': 2,
 'Honey': 1,
 'Man': 7,
 'Apart': 1,
 'School': 2,
 'Samurai': 1,
 'Croft': 1,
 'Raider:': 1,
 'Cradle': 2,
 'Wrong': 1,
 'Turn': 1,
 'Master': 1,
 'Commander:': 1,
 'Side': 1,
 'World': 6,
 'Mystic': 1,
 'River': 1,
 'Anger': 1,
 'Management': 1,
 'Core': 1,
 'Hulk': 1,
 'Once': 1,
 'Upon': 1,
 'Mexico': 1,
 'Old': 2,
 'Lose': 1,
 'Guy': 2,
 '10': 1,
 'Shanghai': 2,
 'Knights': 1,
 'S.W.A.T.': 1,
 'Tears': 1,
 'Sun': 1,
 'Red,': 1,
 'White': 4,
 'Freaky': 1,
 'Sinbad:': 1,
 'Legend': 4,
 'Seven': 1,
 'Seas': 1,
 'Timeline': 1,
 'Paycheck': 1,
 "Charlie's": 2,
 'Angels:': 1,
 'Throttle': 1,
 "Something's": 1,
 'Gotta': 1,
 'Give': 1,
 'Haunted': 1,
 'Mansion': 1,
 'Duplex': 1,
 'Gothika': 1,
 '21': 1,
 'Grams': 1,
 'Destination': 3,
 'Texas': 1,
 'Chainsaw': 1,
 'Massacre': 1,
 'Cheaper': 2,
 'Dozen': 2,
 'Mountain': 2,
 'Thirteen': 2,
 'Freddy': 1,
 'Grave': 1,
 'Looney': 1,
 'Tunes:': 1,
 'Action': 1,
 'Basic': 1,
 'Rundown': 1,
 'Open': 2,
 'Range': 2,
 'Just': 2,
 'Married': 1,
 'Daddy': 1,
 'Care': 1,
 'Seabiscuit': 1,
 'Lizzie': 1,
 'McGuire': 1,
 'Dreamcatcher': 1,
 '3-D:': 1,
 'Order': 1,
 'Intolerable': 1,
 'Cruelty': 1,
 'Hunted': 1,
 'Sand': 1,
 'Fog': 2,
 'Cabin': 1,
 'Fever': 2,
 'Runaway': 1,
 'Jury': 1,
 'Monster': 2,
 'In': 3,
 'Cut': 2,
 'Bringing': 1,
 'Gigli': 1,
 'Gods': 1,
 'Generals': 1,
 'Shattered': 1,
 'Dumb': 1,
 'Dumberer:': 1,
 'When': 1,
 'Met': 1,
 'Lloyd': 1,
 'Uptown': 1,
 'Party': 2,
 'David': 1,
 'Gale': 1,
 'Elephant': 1,
 'Dead': 4,
 'Whale': 3,
 'Rider': 1,
 '1000': 1,
 'Corpses': 1,
 'Radio': 1,
 'Young': 1,
 'Adam': 1,
 'Hollywood': 1,
 'Homicide': 1,
 'Swimming': 1,
 'Pool': 1,
 'Mighty': 1,
 'Wind': 1,
 'Latter': 1,
 'Station': 1,
 'Agent': 3,
 'Fighting': 1,
 'Temptations': 1,
 'Intermission': 1,
 'Calendar': 1,
 'Foolproof': 1,
 'Mambo': 1,
 'Italiano': 1,
 'Cody': 2,
 'Banks': 2,
 'Biker': 1,
 'Boyz': 1,
 'Abyss': 1,
 'Stuck': 1,
 'on': 4,
 "Kid's": 1,
 'Story': 3,
 'Veronica': 1,
 'Guerin': 1,
 'X2': 1,
 'Wonderland': 1,
 'Alex': 1,
 'Emma': 1,
 'Justin': 1,
 'Kelly': 1,
 'Les': 2,
 'Clefs': 1,
 'de': 1,
 'bagnole': 1,
 'Sylvia': 1,
 'Goblet': 1,
 'Batman': 1,
 'Begins': 2,
 'Chronicles': 2,
 'Narnia:': 1,
 'Lion,': 1,
 'Witch': 1,
 'Wardrobe': 1,
 'V': 1,
 'Vendetta': 1,
 'Charlie': 1,
 'Chocolate': 1,
 'Factory': 1,
 'Revenge': 1,
 'Sith': 1,
 "Hitchhiker's": 1,
 'Guide': 1,
 'Galaxy': 1,
 'Madagascar': 1,
 'Fantastic': 1,
 'Constantine': 1,
 'Crashers': 1,
 'Ã†on': 1,
 'Flux': 1,
 'Pacifier': 1,
 'Worlds': 1,
 'Memoirs': 1,
 'Geisha': 1,
 '40': 1,
 'Year': 1,
 'Virgin': 1,
 'Chicken': 2,
 'Hitch': 1,
 'Nanny': 1,
 'McPhee': 1,
 'Kingdom': 1,
 'Monster-in-Law': 1,
 'Kong': 1,
 'Be': 1,
 'Cool': 1,
 'Into': 1,
 'Pride': 1,
 'Prejudice': 1,
 'Brokeback': 1,
 'Robots': 1,
 'xXx:': 1,
 'State': 2,
 'Union': 1,
 'Sisterhood': 1,
 'Traveling': 1,
 'Pants': 1,
 'Mrs.': 1,
 'Smith': 1,
 'Zorro': 1,
 'Zathura:': 1,
 'Space': 2,
 'Adventure': 1,
 'Elektra': 1,
 'Corpse': 1,
 'Bride': 1,
 'Were-Rabbit': 1,
 'Rumor': 1,
 'Has': 1,
 'It...': 1,
 'Jacket': 1,
 'Jarhead': 1,
 'Serenity': 1,
 'Saw': 2,
 'Herbie': 1,
 'Fully': 1,
 'Loaded': 1,
 'Elizabethtown': 1,
 'Brothers': 2,
 'Hostel': 1,
 'Bang': 2,
 'Cinderella': 2,
 'Match': 1,
 'Point': 1,
 'Hoodwinked!': 1,
 'Hide': 1,
 'Seek': 1,
 'Bewitched': 1,
 'Doom': 1,
 'Pitch': 2,
 'Must': 2,
 'Proof': 1,
 'Interpreter': 1,
 'Grimm': 1,
 'An': 1,
 'Unfinished': 1,
 'Hostage': 1,
 'Dukes': 1,
 'Hazzard': 1,
 'Munich': 1,
 'Exorcism': 1,
 'Emily': 1,
 'Rose': 2,
 'Thank': 1,
 'Smoking': 1,
 'Deuce': 1,
 'Bigalow:': 1,
 'European': 1,
 'Gigolo': 1,
 'Syriana': 1,
 'Derailed': 1,
 'Oliver': 1,
 'Twist': 1,
 'Skeleton': 1,
 'Key': 1,
 'Chaos': 1,
 'Racing': 1,
 'Stripes': 1,
 'Night,': 1,
 'Luck.': 1,
 'Coach': 1,
 'Carter': 2,
 'History': 1,
 'Violence': 1,
 'Amityville': 1,
 'Horror': 1,
 'Fun': 1,
 'Dick': 1,
 'Jane': 1,
 'Unleashed': 1,
 'Rebound': 1,
 'Guess': 1,
 'Who': 1,
 'Keeping': 2,
 'Mum': 1,
 'Money': 1,
 'Harsh': 1,
 'Times': 1,
 'Flightplan': 1,
 'Assault': 1,
 'Precinct': 1,
 '13': 3,
 'Broken': 2,
 'Flowers': 1,
 'Weather': 1,
 'Wolf': 1,
 'Creek': 2,
 'Line': 1,
 'Lot': 1,
 'Get': 2,
 'Rich': 1,
 "Tryin'": 1,
 'Kicking': 1,
 'Screaming': 1,
 'MirrorMask': 1,
 'Cursed': 1,
 'Stay': 1,
 'Longest': 1,
 'Yard': 1,
 'Waiting...': 1,
 'Are': 1,
 'There': 1,
 'Yet?': 1,
 'Sound': 1,
 'Thunder': 1,
 'Stealth': 1,
 'Date': 2,
 'BloodRayne': 1,
 'Sahara': 1,
 'Matador': 1,
 'Capote': 1,
 'Valiant': 1,
 'Constant': 1,
 'Gardener': 1,
 'Hard': 1,
 'Candy': 1,
 'Wax': 1,
 'Great': 1,
 'Raid': 1,
 'Domino': 1,
 'Beauty': 1,
 'Shop': 1,
 'Sharkboy': 1,
 'Lavagirl': 1,
 'Greatest': 1,
 'Ever': 1,
 'Played': 1,
 'Three': 1,
 'Burials': 1,
 'Melquiades': 1,
 'Estrada': 1,
 'Cry_Wolf': 1,
 'Goal!:': 1,
 'Dream': 2,
 'Noise': 1,
 'Brick': 1,
 'Dominion:': 1,
 'Prequel': 1,
 'Exorcist': 1,
 'Manderlay': 1,
 'Eye': 1,
 'Everything': 1,
 'is': 2,
 'Illuminated': 1,
 'Ballad': 1,
 'Jack': 1,
 'Yours,': 1,
 'Mine': 1,
 'Ours': 1,
 'Producers': 1,
 'Romanzo': 1,
 'criminale': 1,
 'Hustle': 1,
 'Flow': 1,
 'Transamerica': 1,
 'Alone': 2,
 'Boogeyman': 1,
 'PoupÃ©es': 1,
 'Russes': 1,
 'Cave': 1,
 'Rent': 1,
 'Squid': 1,
 'Inside': 1,
 'Deep': 1,
 'Throat': 1,
 'Man-Thing': 1,
 'Tau': 1,
 'man': 1,
 'ji': 1,
 'D': 1,
 'Tamara': 1,
 'Shopgirl': 1,
 'North': 1,
 'Country': 1,
 'Conversations': 1,
 'Other': 1,
 'Women': 2,
 'Valley': 1,
 'Mozart': 1,
 'News': 1,
 'Bears': 1,
 'Because': 1,
 'Winn-Dixie': 1,
 'Lords': 1,
 'Dogtown': 1,
 'Proposition': 1,
 'Water': 3,
 'Dave': 1,
 "Chappelle's": 1,
 'Block': 1,
 'Bee': 1,
 'Season': 1,
 'Maurice': 1,
 'Richard': 1,
 'Tsotsi': 1,
 'Prisoner': 1,
 'Azkaban': 1,
 'Jones:': 1,
 'Edge': 1,
 'Reason': 1,
 'Eternal': 1,
 'Sunshine': 1,
 'Spotless': 1,
 'Notebook': 1,
 'Incredibles': 1,
 'Supremacy': 1,
 'Troy': 1,
 'I,': 1,
 'Robot': 1,
 '50': 1,
 'First': 1,
 'Dates': 1,
 'Mean': 2,
 'Helsing': 1,
 'Hellboy': 1,
 'Polar': 1,
 'Express': 1,
 'Butterfly': 1,
 'Effect': 1,
 'Evil:': 1,
 'Apocalypse': 1,
 'Twelve': 1,
 'Meet': 2,
 'Fockers': 1,
 'Tomorrow': 2,
 'Aviator': 1,
 'Shaun': 1,
 'Blade:': 1,
 'Trinity': 1,
 'Terminal': 1,
 'Lemony': 1,
 "Snicket's": 1,
 'Series': 1,
 'Unfortunate': 1,
 'Events': 1,
 'Million': 1,
 'Dollar': 1,
 'Garfield': 1,
 'Shark': 1,
 'SpongeBob': 1,
 'SquarePants': 1,
 'Crash': 1,
 'Anchorman:': 1,
 'Ron': 1,
 'Burgundy': 1,
 'Going': 1,
 'On': 2,
 '30': 1,
 'Ella': 1,
 'Enchanted': 1,
 'Door': 1,
 'Neverland': 1,
 'AVP:': 1,
 'Alien': 1,
 'Predator': 1,
 'DodgeBall:': 1,
 'True': 1,
 'Underdog': 1,
 'Banlieue': 1,
 'Alexander': 1,
 'Harold': 1,
 'Kumar': 1,
 'Go': 1,
 'EuroTrip': 1,
 'Polly': 1,
 'Closer': 1,
 'Punisher': 1,
 'Catwoman': 1,
 'Songs': 1,
 'Dawn': 1,
 'Arthur': 1,
 'Riddick': 1,
 'Spanglish': 1,
 'Secret': 1,
 'Window': 1,
 'Layer': 1,
 'Cake': 1,
 ...}

In [19]:
total = 0
for value in number_of_words.values():
    total += value
    
total

2112

In [20]:
rows = df_title.shape[0]

In [21]:
total/rows

2.693877551020408

In [22]:
movies_df_3 = movies_df.sort_values('revenue', ascending=False)

In [23]:
movies_df_3

,original_title,budget,revenue,cast,genres,release_year,runtime
1386,Avatar,237000000,2781505847,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,Action|Adventure|Fantasy|Science Fiction,2009,162
3,Star Wars: The Force Awakens,200000000,2068178225,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2015,136
5231,Titanic,200000000,1845034188,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,Drama|Romance|Thriller,1997,194
4361,The Avengers,220000000,1519557910,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Science Fiction|Action|Adventure,2012,143
0,Jurassic World,150000000,1513528810,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,2015,124
...,...,...,...,...,...,...,...
5162,Kid's Story,10,5,Clayton Watson|Keanu Reeves|Carrie-Anne Moss|K...,Science Fiction|Animation,2003,15
8523,Bordello of Blood,15000000,5,Dennis Miller|Erika Eleniak|Angie Everhart|Joh...,Horror|Comedy,1996,87
3239,Dr. Horrible's Sing-Along Blog,200000,3,Neil Patrick Harris|Nathan Fillion|Felicia Day...,Adventure|Action|Comedy|Science Fiction|Music,2008,42
8142,Mallrats,6000000,2,Jason Lee|Jeremy London|Shannen Doherty|Claire...,Romance|Comedy,1995,94
5067,Shattered Glass,6000000,2,Hayden Christensen|Peter Sarsgaard|ChloÃ« Sevi...,Drama|History,2003,94

In [24]:
movies_df_3.iloc[0,:]

original_title                                               Avatar
budget                                                    237000000
revenue                                                  2781505847
cast              Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
genres                     Action|Adventure|Fantasy|Science Fiction
release_year                                                   2009
runtime                                                         162
Name: 1386, dtype: object

In [25]:
movies_df_3.iloc[-1,:]

original_title                                      Shattered Glass
budget                                                      6000000
revenue                                                           2
cast              Hayden Christensen|Peter Sarsgaard|ChloÃ« Sevi...
genres                                                Drama|History
release_year                                                   2003
runtime                                                          94
Name: 5067, dtype: object

In [26]:
df_2006 = movies_df[movies_df['release_year'] == 2006]

In [27]:
df_2006

,original_title,budget,revenue,cast,genres,release_year,runtime
6554,Underworld: Evolution,50000000,111340801,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,Fantasy|Action|Science Fiction|Thriller,2006,106
6555,Pirates of the Caribbean: Dead Man's Chest,200000000,1065659812,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Adventure|Fantasy|Action,2006,151
6556,Cars,120000000,461983149,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,Animation|Adventure|Comedy|Family,2006,117
6557,Casino Royale,150000000,599045960,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Adventure|Action|Thriller,2006,144
6558,The Da Vinci Code,125000000,758239851,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,Thriller|Mystery,2006,149
...,...,...,...,...,...,...,...
6914,Trailer Park Boys: The Movie,5000000,3833507,John Paul Tremblay|Robb Wells|Mike Smith|Patri...,Action|Comedy,2006,95
6922,First Snow,8000000,382267,Guy Pearce|Piper Perabo|Steven Michael Quezada...,Drama|Thriller,2006,101
6925,For Your Consideration,12000000,5542025,Catherine O'Hara|Harry Shearer|Parker Posey|Ch...,Comedy|Drama,2006,86
6945,The Foot Fist Way,79000,245000,Danny McBride|Ben Best|Mary Jane Bostic|Jody H...,Comedy,2006,85
6948,Special,1000000,7202,Michael Rapaport|Josh Peck|Robert Baker|Jack K...,Drama|Fantasy|Science Fiction,2006,81

In [28]:
no_of_rows = df_2006.shape[0]

In [29]:
df_2006['runtime'].sum()/no_of_rows

108.18934911242603